.btn {
    background-color: #9933ff;
}

.delbtn {
    background-color: #ff3333;
}

.chngbtn {
    background-color: #ff8700;
    font-size: large;
}

button {
    border: 1px solid #ff99cc;
    border-radius: 10px;
}